extends layout

block content
  - baseURL = 'http://198.199.72.158/wp-content/uploads'
  section#digital-content.category-gallery(style='display: block;')
    .gallery
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2012/05/palmer.jpg', title='Palmer - $100')
          img(src='#{baseURL}/2012/05/palmer-320x320.jpg', alt='')
          figcaption Palmer - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2012/05/solarflar.jpg', title='Solar Flare - $100')
          img(src='#{baseURL}/2012/05/solarflar-320x320.jpg', alt='')
          figcaption Solar Flare - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2012/05/lollipop.jpg', title='Lolli - $100')
          img(src='#{baseURL}/2012/05/lollipop-320x320.jpg', alt='')
          figcaption Lolli - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2012/05/ram.jpg', title='Ram - $100')
          img(src='#{baseURL}/2012/05/ram-320x320.jpg', alt='')
          figcaption Ram - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2012/05/rama.jpg', title='Rame - $100')
          img(src='#{baseURL}/2012/05/rama-320x320.jpg', alt='')
          figcaption Rame - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2012/05/RedLover.jpg', title='Red Lover - $100')
          img(src='#{baseURL}/2012/05/RedLover-320x320.jpg', alt='')
          figcaption Red Lover - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2012/05/sea-dragons.jpg', title='Sea Dragons - $100')
          img(src='#{baseURL}/2012/05/sea-dragons-320x320.jpg', alt='')
          figcaption Sea Dragons - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2012/05/goldeneternity.jpg', title='Golden Eternity - $100')
          img(src='#{baseURL}/2012/05/goldeneternity-320x320.jpg', alt='')
          figcaption Golden Eternity - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2012/05/cupola.jpg', title='Cupola - $100')
          img(src='#{baseURL}/2012/05/cupola-320x320.jpg', alt='')
          figcaption Cupola - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2012/05/cupbard..jpg', title='Loving Cupbard - $100')
          img(src='#{baseURL}/2012/05/cupbard.-320x320.jpg', alt='')
          figcaption Loving Cupbard - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2012/05/Jungle1.jpg', title='Jungle - $100')
          img(src='#{baseURL}/2012/05/Jungle1-320x320.jpg', alt='')
          figcaption Jungle - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2012/05/Leftover-Seaweed1.jpg', title='Leftover Seaweed - $100')
          img(src='#{baseURL}/2012/05/Leftover-Seaweed1-320x320.jpg', alt='')
          figcaption Leftover Seaweed - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2012/05/Field1.jpg', title='Field - $100')
          img(src='#{baseURL}/2012/05/Field1-320x320.jpg', alt='')
          figcaption Field - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2012/05/Honey1.jpg', title='Honey - $100')
          img(src='#{baseURL}/2012/05/Honey1-320x320.jpg', alt='')
          figcaption Honey - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2012/05/Fish-Mouth-Mouth-Fish1.jpg', title='Fish-Mouth-Mouth-Fish - $100')
          img(src='#{baseURL}/2012/05/Fish-Mouth-Mouth-Fish1-320x320.jpg', alt='')
          figcaption Fish-Mouth-Mouth-Fish - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2012/05/Iris-Voyage-III1.jpg', title='Iris-Voyage-III - $100')
          img(src='#{baseURL}/2012/05/Iris-Voyage-III1-320x320.jpg', alt='')
          figcaption Iris-Voyage-III - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2012/05/Iris-Voyage-II1.jpg', title='Iris-Voyage-II - $100')
          img(src='#{baseURL}/2012/05/Iris-Voyage-II1-320x320.jpg', alt='')
          figcaption Iris-Voyage-II - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2012/05/Iris-Voyage1.jpg', title='Iris-Voyage - $100')
          img(src='#{baseURL}/2012/05/Iris-Voyage1-320x320.jpg', alt='')
          figcaption Iris-Voyage - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2012/05/Electric-Puddle1.jpg', title='Electric-Puddle - $100')
          img(src='#{baseURL}/2012/05/Electric-Puddle1-320x320.jpg', alt='')
          figcaption Electric-Puddle - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2012/05/Crowd-Sanwich1.jpg', title='Crowd-Sandwich - $100')
          img(src='#{baseURL}/2012/05/Crowd-Sanwich1-320x320.jpg', alt='')
          figcaption Crowd-Sandwich - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2012/05/galazy.jpg', title='Galazy - $100')
          img(src='#{baseURL}/2012/05/galazy-320x320.jpg', alt='')
          figcaption Galazy - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2012/05/Petrified-Night1.jpg', title='Petrified-Night - $100')
          img(src='#{baseURL}/2012/05/Petrified-Night1-320x320.jpg', alt='')
          figcaption Petrified-Night - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2012/05/Native1.jpg', title='Native - $300')
          img(src='#{baseURL}/2012/05/Native1-320x320.jpg', alt='')
          figcaption Native - $300
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2012/05/Contents-May-Be-Hot1.jpg', title='Contents-May-Be-Hot - $100')
          img(src='#{baseURL}/2012/05/Contents-May-Be-Hot1-320x320.jpg', alt='')
          figcaption Contents-May-Be-Hot - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2013/11/The-Orgin.jpg', title='The-Orgin - $150')
          img(src='#{baseURL}/2013/11/The-Orgin-320x320.jpg', alt='')
          figcaption The-Orgin - $150
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2013/11/Mothra.jpg', title='Mothra - $100')
          img(src='#{baseURL}/2013/11/Mothra-320x320.jpg', alt='')
          figcaption Mothra - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2013/11/Happy-Dragon-Kissing-Fish.jpg', title='Happy-Dragon-Kissing-Fish - $100')
          img(src='#{baseURL}/2013/11/Happy-Dragon-Kissing-Fish-320x320.jpg', alt='')
          figcaption Happy-Dragon-Kissing-Fish - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2013/11/Continuum-Transfuctioner.jpg', title='Continuum-Transfuctioner - $100')
          img(src='#{baseURL}/2013/11/Continuum-Transfuctioner-320x320.jpg', alt='')
          figcaption Continuum-Transfuctioner - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2013/11/Blue-Spark.jpg', title='Blue-Spark - $100')
          img(src='#{baseURL}/2013/11/Blue-Spark-320x320.jpg', alt='')
          figcaption Blue-Spark - $100
      figure
        a.fancybox(rel='7ed188ab449743e9bfe72251ebb20d61', href='#{baseURL}/2013/11/Black-Lace.jpg', title='Black-Lace - $100')
          img(src='#{baseURL}/2013/11/Black-Lace-320x320.jpg', alt='')
          figcaption Black-Lace - $100
