extends layout

block content
  - baseURL = 'http://198.199.72.158/wp-content/uploads'

  section#oil-content.category-gallery(style='display: block;')
    .gallery
      figure
        a.fancybox(rel='9c8d19f712ea4211a6dbc986eec6fc39', href='#{baseURL}/2013/10/Listening-Pines_P.jpg', title='Listening Pines - $1000')
          img(src='#{baseURL}/2013/10/Listening-Pines_P-320x320.jpg', alt='')
          figcaption Listening Pines - $1000
      figure
        a.fancybox(rel='9c8d19f712ea4211a6dbc986eec6fc39', href='#{baseURL}/2013/10/Cracked_Nut_P.jpg', title='Cracked Nut - $750')
          img(src='#{baseURL}/2013/10/Cracked_Nut_P-320x320.jpg', alt='')
          figcaption Cracked Nut - $750
      figure
        a.fancybox(rel='9c8d19f712ea4211a6dbc986eec6fc39', href='#{baseURL}/2013/10/Circles_P.jpg', title='Circles - $750')
          img(src='#{baseURL}/2013/10/Circles_P-320x320.jpg', alt='')
          figcaption Circles - $750
      figure
        a.fancybox(rel='9c8d19f712ea4211a6dbc986eec6fc39', href='#{baseURL}/2013/10/Self-Portrait-I-P.jpg', title='Self Portrait - $750 [sold]')
          img(src='#{baseURL}/2013/10/Self-Portrait-I-P-320x320.jpg', alt='')
          figcaption Self Portrait - $750 [sold]
      figure
        a.fancybox(rel='9c8d19f712ea4211a6dbc986eec6fc39', href='#{baseURL}/2013/10/Crying-Wolf-P.jpg', title='Crying Wolf - $750')
          img(src='#{baseURL}/2013/10/Crying-Wolf-P-320x320.jpg', alt='')
          figcaption Crying Wolf - $750
      figure
        a.fancybox(rel='9c8d19f712ea4211a6dbc986eec6fc39', href='#{baseURL}/2013/10/Datura-P.jpg', title='Datura - $1000 [sold]')
          img(src='#{baseURL}/2013/10/Datura-P-320x320.jpg', alt='')
          figcaption Datura - $1000 [sold]
      figure
        a.fancybox(rel='9c8d19f712ea4211a6dbc986eec6fc39', href='#{baseURL}/2013/10/Floral-Bop-P.jpg', title='Floral Bop - $500')
          img(src='#{baseURL}/2013/10/Floral-Bop-P-320x320.jpg', alt='')
          figcaption Floral Bop - $500
      figure
        a.fancybox(rel='9c8d19f712ea4211a6dbc986eec6fc39', href='#{baseURL}/2013/10/Rogue-P.jpg', title='Rogue - $1000 [sold]')
          img(src='#{baseURL}/2013/10/Rogue-P-320x320.jpg', alt='')
          figcaption Rogue - $1000 [sold]
      figure
        a.fancybox(rel='9c8d19f712ea4211a6dbc986eec6fc39', href='#{baseURL}/2013/10/Crimes.jpg', title='Crimes - $500')
          img(src='#{baseURL}/2013/10/Crimes-320x320.jpg', alt='')
          figcaption Crimes - $500
      figure
        a.fancybox(rel='9c8d19f712ea4211a6dbc986eec6fc39', href='#{baseURL}/2013/10/Squares.jpg', title='Squares - $500 [sold]')
          img(src='#{baseURL}/2013/10/Squares-320x320.jpg', alt='')
          figcaption Squares - $500 [sold]
      figure
        a.fancybox(rel='9c8d19f712ea4211a6dbc986eec6fc39', href='#{baseURL}/2013/10/Pharophs_Brew.jpg', title='Pharophs Brew - $500')
          img(src='#{baseURL}/2013/10/Pharophs_Brew-320x320.jpg', alt='')
          figcaption Pharophs Brew - $500
      figure
        a.fancybox(rel='9c8d19f712ea4211a6dbc986eec6fc39', href='#{baseURL}/2013/10/The-Blacksmiths-Apprentice.jpg', title='The Blacksmiths Apprentice - $750')
          img(src='#{baseURL}/2013/10/The-Blacksmiths-Apprentice-320x320.jpg', alt='')
          figcaption The Blacksmiths Apprentice - $750
      figure
        a.fancybox(rel='9c8d19f712ea4211a6dbc986eec6fc39', href='#{baseURL}/2013/10/In-The-Chlolarphyll-Alley.jpg', title='In The Chlolarphyll Alley - $500 [sold]')
          img(src='#{baseURL}/2013/10/In-The-Chlolarphyll-Alley-320x320.jpg', alt='')
          figcaption In The Chlolarphyll Alley - $500 [sold]
      figure
        a.fancybox(rel='9c8d19f712ea4211a6dbc986eec6fc39', href='#{baseURL}/2013/10/Julius.jpg', title='Julius - $500')
          img(src='#{baseURL}/2013/10/Julius-320x320.jpg', alt='')
          figcaption Julius - $500
      figure
        a.fancybox(rel='9c8d19f712ea4211a6dbc986eec6fc39', href='#{baseURL}/2013/10/Blueberry-Hydrangea.jpg', title='Blueberry Hydrangea - $225 [sold]')
          img(src='#{baseURL}/2013/10/Blueberry-Hydrangea-320x320.jpg', alt='')
          figcaption Blueberry Hydrangea - $225 [sold]
